@media(min-width:991px) {
  .hamburger-btn {
    display   : none;
    visibility: hidden;
    opacity   : 0;
    z-index   : 0;
  }
}

@media(max-width:991px) {

  .effect .effect-3,
  .contact-section .w-50,
  .contact-section .contact-item,
  .portfolio-popup .description,
  .portfolio-section .portfolio-item,
  .about-section .skills .skill-item,
  .about-section .about-info,
  .about-section .about-img,
  .home-section .home-text,
  .home-section .home-img {
    flex     : 0 0 100%;
    max-width: 100%;

  }

  .service-section .service-item {
    flex     : 0 0 50%;
    max-width: 50%;
  }



  .nav-bar {
    display   : none;
    z-index   : 0;
    opacity   : 0;
    visibility: hidden;

  }

  .home-section .home-img .img-box {
    margin: auto;
  }


  .about-info {
    margin    : auto;
    text-align: justify;
    padding   : 0 16px;

  }



  .hamburger-btn {
    display   : block;
    visibility: visible;
    opacity   : 1;
  }

  .portfolio-popup .info {
    min-width: 300px;
  }

  .home-section .home-text {
    order: 2;
  }


  .contact-section .submit-btn,
  .home-section .home-text {
    text-align: center;
  }

  .home-section .full-screen {
    padding: 100px 0;
  }

  .home-section .home-img .img-box {
    margin-top   : -25px;
    margin-bottom: 20px;
    max-width    : 400px;
  }

  .effect-3 {
    margin-left: -5px;
  }

  .effect-4 {
    left: 15%;
  }

  .effect-5 {
    right: 4%;
  }

  .about-section .about-img {
    padding-bottom: 30px;
  }

  .about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: 15px;
    text-align   : left;
    padding-left : 75px;
  }

  .about-section .timeline .timeline-item:nth-child(even) {
    padding-left: 75px;

  }

  .about-section .timeline:before {
    left: 35px;
  }

  .about-section .timeline .timeline-item:nth-child(odd) .icon {
    right: auto;
    left : -60px;
  }

  .about-section .timeline .timeline-item:nth-child(even) .icon {

    left: -60px;
  }

  .about-section .timeline .timeline-item {
    margin-bottom: 40px;
  }

  .about-section .timeline .timeline-item:last-child {
    margin-bottom: 0;
  }

  .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before {
    left : -30px;
    right: auto;
  }


}

@media(max-width: 574px) {
  .home-section .home-img .img-box {
    max-width: 260px;
  }

  .home-section .home-text h2 {
    font-size: 40px;
  }

}

@media(max-width:991px) {

  .effect .effect-3,
  .contact-section .w-50,
  .contact-section .contact-item,
  .portfolio-popup .description,
  .portfolio-section .portfolio-item,
  .about-section .skills .skill-item,
  .about-section .about-info,
  .about-section .about-img,
  .home-section .home-text,
  .home-section .home-img {
    flex     : 0 0 100%;
    max-width: 100%;

  }

  .service-section .service-item {
    flex     : 0 0 50%;
    max-width: 50%;
  }



  .nav-bar {
    display   : none;
    z-index   : 0;
    opacity   : 0;
    visibility: hidden;

  }

  .home-section .home-img .img-box {
    margin: auto;
  }


  .about-info {
    margin    : auto;
    text-align: justify;
    padding   : 0 16px;

  }



  .hamburger-btn {
    display   : block;
    visibility: visible;
    opacity   : 1;
  }

  .portfolio-popup .info {
    min-width: 300px;
  }

  .home-section .home-text {
    order: 2;
  }


  .contact-section .submit-btn,
  .home-section .home-text {
    text-align: center;
  }

  .home-section .full-screen {
    padding: 100px 0;
  }

  .home-section .home-img .img-box {
    margin-top   : -25px;
    margin-bottom: 20px;
    max-width    : 400px;
  }

  .effect-3 {
    margin-left: -5px;
  }

  .effect-4 {
    left: 15%;
  }

  .effect-5 {
    right: 4%;
  }

  .about-section .about-img {
    padding-bottom: 30px;
  }

  .about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: 15px;
    text-align   : left;
    padding-left : 75px;
  }

  .about-section .timeline .timeline-item:nth-child(even) {
    padding-left: 75px;

  }

  .about-section .timeline:before {
    left: 35px;
  }

  .about-section .timeline .timeline-item:nth-child(odd) .icon {
    right: auto;
    left : -60px;
  }

  .about-section .timeline .timeline-item:nth-child(even) .icon {

    left: -60px;
  }

  .about-section .timeline .timeline-item {
    margin-bottom: 40px;
  }

  .about-section .timeline .timeline-item:last-child {
    margin-bottom: 0;
  }

  .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before {
    left : -30px;
    right: auto;
  }


}

@media(max-width: 574px) {
  .home-section .home-img .img-box {
    max-width: 260px;
  }

  .home-section .home-text h2 {
    font-size: 40px;
  }

}

@media(max-width:400px) {

  .effect .effect-3,
  .contact-section .w-50,
  .contact-section .contact-item,
  .portfolio-popup .description,
  .portfolio-section .portfolio-item,
  .about-section .skills .skill-item,
  .about-section .about-info,
  .about-section .about-img,
  .home-section .home-text,
  .home-section .home-img {
    flex     : 0 0 100%;
    max-width: 100vw;

  }

  .service-section .service-item {
    flex     : 0 0 50%;
    max-width: 50%;
  }



  .nav-bar {
    display   : none;
    z-index   : 0;
    opacity   : 0;
    visibility: hidden;

  }

  .home-section .home-img .img-box {
    margin: auto;
  }


  .about-info {
    margin    : auto;
    text-align: justify;
    padding   : 0 16px;

  }



  .hamburger-btn {
    display   : block;
    visibility: visible;
    opacity   : 1;
  }

  .portfolio-popup .info {
    min-width: 300px;
  }

  .home-section .home-text {
    order: 2;
  }


  .contact-section .submit-btn,
  .home-section .home-text {
    text-align: center;
  }

  .home-section .full-screen {
    padding: 100px 0;
  }

  .home-section .home-img .img-box {
    margin-top   : -25px;
    margin-bottom: 20px;
    max-width    : 400px;
  }

  .effect-3 {
    margin-left: -5px;
  }

  .effect-4 {
    left: 15%;
  }

  .effect-5 {
    right: 4%;
  }

  .about-section .about-img {
    padding-bottom: 30px;
  }

  .about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: 15px;
    text-align   : left;
    padding-left : 75px;
  }

  .about-section .timeline .timeline-item:nth-child(even) {
    padding-left: 75px;

  }

  .about-section .timeline:before {
    left: 35px;
  }

  .about-section .timeline .timeline-item:nth-child(odd) .icon {
    right: auto;
    left : -60px;
  }

  .about-section .timeline .timeline-item:nth-child(even) .icon {

    left: -60px;
  }

  .about-section .timeline .timeline-item {
    margin-bottom: 40px;
  }

  .about-section .timeline .timeline-item:last-child {
    margin-bottom: 0;
  }

  .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before {
    left : -30px;
    right: auto;
  }


}

@media(max-width: 574px) {
  .home-section .home-img .img-box {
    max-width: 260px;
  }

  .home-section .home-text h2 {
    font-size: 40px;
  }

}